<div id="user_listens" class="box">
  <h2 class="box">Recent favorites</h2>
  <% if white_theme_enabled? %>
    <%= render partial: 'assets/asset', collection: @favorites, as: :asset %>
  <% else %>
    <%= render partial: 'favorite', collection: @favorites, as: :asset %>
  <% end %>
</div>
<div class="footer_box">
  <%= link_to user_playlist_path(@user, @user.favorites), class: "view_all" do %>
  <span> view all favorites </span><span class="sprites-horizontal-arrow sprites-after-heading"></span>
	<% end if @user.favorites.tracks.size > 5%>
</div>