<%= render partial: 'user' %>

<% content_for :left do %>
  <div id="bio" class="box">
    <h2 class="box static">About <%= @user.name %></h2>

      <div class="bio static_content">
      	<p>
    	    <% if @user.try(:bio) %>
    	        <%= markdown(@user.bio) %>
    	    <% else %>
    	        <%= @user.name %> didn't say anything yet...
          <% end %>
      	</p>
      </div>

      <div class="bio static_content">
        <p>
        	<%= website_for(@user).html_safe if @user.website.present? %>
        </p>
      </div>

  </div>

  <%= render partial: 'follows' if @mostly_listens_to.present? or @follows.present?  %>

<% end %>

<% content_for :right do %>

  <%= link_to(image_tag(@user.avatar(:album), class: 'large_avatar'), @user.avatar,  id: 'alonetoner_big', rel: 'facebox') %>

  <h2 class="box static"><%= @user.name %>'s stats</h2>

  <div class="bio static_content">
    <p>
      Last seen <%= local_time_ago(@user.last_seen_at || @user.created_at)%>
    </p>

    <p>
    <% if @user.listens_count > 0 %>
		  People have listened to <%= @user.name %>'s <strong><%= pluralize @user.assets_count, 'track' %></strong> about <strong><%= @user.listens_count %> </strong>times, about <strong>~<%= @user.bandwidth_used %>GB</strong> of transfer.<br/>
		<% end %>
    </p>
    <p>
	  <%= @user.name%> joined alonetone on <strong><%= @user.created_at.to_date.to_s :long %></strong>
  </p>
    <% if moderator? %>
    <p>
      Current IP: <%= @user.current_login_ip %> <%= flag_for(@user.listens.first&.country) %><br/>
      <small>User Agent: <%= @user.browser %></small>
    </p>
    <% end %>
  </div>
<% end %>
