<% content_for :left do %>
<!--  <div class="box">-->
<!--    <h2 class="box">Why Streamzam?</h2>-->
<!--  	<div id="what-you-get" class="box static_content">-->

    	<%#= image_tag 'promo/unlimited-uploads.jpg'%>
<!--    	<h2 class='hug'>Upload your music (mp3 format)</h2>-->

      <%#= image_tag 'promo/people-you-like.jpg'%>
<!--    	<h2 class='hug'>No need to email music to anyone! Upload it yourself</h2>-->

      <%#= image_tag 'promo/track-listens.jpg'%>
<!--      <h2 class='hug'>Keep track of your musical creations</h2>-->

      <%#= image_tag 'promo/itunes-podcast.jpg'%>
<!--      <h2 class='hug'>Get your music on itunes...</h2>-->

      <%#= image_tag 'promo/embed-player.jpg'%>
<!--      <h2 class='hug'>...and </h2>-->
<!--    </div>-->
<!--  </div>-->
<% end %>

<% content_for :right do %>
  <%= render partial: 'join' %>
<% end %>
