<style>
  body main {
    margin: 100px auto 0 auto;
  }
</style>
<div class="track-content" data-controller="big-play <%= "single-playback" unless @playlist %> " data-single-playback-id="<%= @asset.id %>"  data-big-play-waveform="<%= @asset.audio_feature&.waveform&.join(', ') %>">

  <%= render partial: 'assets/big_player' %>

  <% if logged_in? %>
  <div class= "edit-links-and-favorite">
  <% end %>

    <% if logged_in? %>
    <div class="edit-links">
    <% end %>

      <% if authorized? %>
        <%= link_to "Delete", user_track_path(@asset.user, @asset), method: 'delete', class: 'edit-link',
          data: { confirm: 'Are you sure? This will delete the song permanently, including all play history and comments.'},
          title: 'delete this track permanently ' %>
        <%= link_to("Edit", edit_user_track_path(@user, @asset), class: "edit-link") %>
      <% end %>

      <% if moderator? %>
        <% if @asset.private? %>
          <%= link_to "Unspam", unspam_user_track_path(@user, @asset), method: :put, class: "edit-link" %>
        <% else %>
          <%= link_to "Spam", spam_user_track_path(@user, @asset), method: :put, class: "edit-link" %>
        <% end %>
      <% end %>

    <% if logged_in? %>
    </div>
    <% end %>

    <% if logged_in? %>
    <div class="track-favorite">
    <%= link_to toggle_favorite_path(asset_id: @asset.id), remote: true, class: 'add_to_favorites',
        data: {controller: 'favorite', action: 'favorite#toggle' } do %>
        <svg id="faveSVG" class="faveSVG" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
          <path class="outline" d="M299.64,180.06C254.2,95.52,123.26,90.77,87.58,197,42.14,332.24,189.85,374.17,299.64,484.42,409.43,374.17,557.14,332.24,511.7,197,476,90.77,345.08,95.52,299.64,180.06Z" fill="none" stroke="#b4b4b4" stroke-miterlimit="10" stroke-width="35" />
          <circle class="purplePop" cx="490" cy="410" r="123" fill="none" stroke="#CC3CF6" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="greenPop" cx="206" cy="483" r="123" fill="none" stroke="#3BF686" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="bluePop" cx="340" cy="120" r="123" fill="none" stroke="#3D45F6" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="yellowPop" cx="112" cy="336" r="123" fill="none" stroke="#F6CD3F" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="redPop" cx="128" cy="124" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="redPop2" cx="485" cy="130" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="redPop3" cx="480" cy="436" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <path class="heart" d="M299.64,180.06C254.2,95.52,123.26,90.77,87.58,197,42.14,332.24,189.85,374.17,299.64,484.42,409.43,374.17,557.14,332.24,511.7,197,476,90.77,345.08,95.52,299.64,180.06Z" fill="#f6463e" stroke="#f6463e" stroke-miterlimit="10" stroke-width="21" />
      </svg>
    <% end %>
    </div>
    <% end %>


  <div style="margin-left: 10px;" class="btn btn-rounded btn-sm gd-primary text-white">
    <%= link_to 'Download', download_url(@asset), style: 'color: #FFF' %>
  </div>

 <% if logged_in? %>
 </div>
 <% end %>

  <div class="track-post">
    <h1><%= @asset.name %></h1>
    <% unless @playlist %>
      <h3><%= link_to @asset.user.display_name, user_home_path(@asset.user) %></h3>
    <% end %>
    <%= markdown(@asset.description) %>

    <div class="track-stats">
      <div class="created">Uploaded <%= local_time_ago(@asset.created_at) %>.</div>
      <div class="plays"><%= @asset.listens_count %>
        <i class="icon_plays">
          <%= render file: svg_path('svg/icon_play_inverted.svg') %>
        </i>
      </div>
      <div class="favorite_total"><%= @asset.favorites_count %>
        <i class="icon_favs">
          <%= render file: svg_path('svg/icon_favorite_circled.svg') %>
        </i>
      </div>
    </div>

    <div>
      <%= markdown(@asset.credits) if @asset.credits.present? %>
    </div>
  </div>

  <%= render partial: 'assets/comment_white', locals: { asset: @asset }%>

  <!--
  <%= render partial: 'shared/comments' if @comments.present? %>
  -->
  <% if @listeners.present? %>
  <div class="track-social">
  <h3>Recent Listeners</h3>
    <div class='recent-listeners'>
    <%= render partial: 'shared/users_to_edge', locals: {users: @listeners } %>
    </div>
  </div>
  <% end %>

  <% if @favoriters.present? %>
  <div class="track-social">
  <h3>Favorited By</h3>
    <div class='favoriters'>
    <%= render partial: 'shared/users_to_edge', locals: {users: @favoriters } %>
    </div>
  </div>
  <% end %>

</div>
