<div class="footer_column_1">


  <div class="footer_button_group">

    <%= link_to '/radio/popular' do %>
      <span class="sprites-footer-radio"></span>
    <% end %>
    <%= link_to "streamzam radio", '/radio/popular', class: 'footer_button_label' %>
  </div>
</div>

<div class="footer_column_2">

  <div class="footer_column_2_left">
    <h3 class="footer-column-header">Browse</h3>
      <div><%= link_to "All Artists", "/users"%></div>
      <div><%= link_to "Recent Playlists", "/playlists"%></div>
      <div><%= link_to "Recent Tracks", "/radio/latest"%></div>
  </div>
  <div class="footer_column_2_right">
    <h3 class="footer-column-header">More</h3>
<!--      <div><%#= link_to "Toggle Theme", "/toggle_theme", data: { turbolinks: 'false' } %></div>-->
      <div><%= link_to "About", "/about"%></div>
      <div><%= link_to "Stats", "/about/stats"%></div>
      <div><%= link_to "Press / Contact", "/about/press"%></div>
      <% if moderator? %>
      <div><%= link_to "Secretz", "/secretz" %></div>
      <% end %>
  </div>

  <div class="footer_column_2_bottom">
    <h3 class="footer-column-header">online</h3>
    <ul>
     <li>
       <%= User.currently_online.collect do |user| %>
         <% link_to user.name, user_home_path(user.login) %>
       <% end.join(', ').html_safe %>
     </li>
    </ul>
  </div>

</div>


