
<footer id="footer" class="page-footer ">
  <div class="padding bg-dark  b-t">
    <div class="page-container text-md font-weight-bold">
      <div class="py-5 text-inherit text-hover-primary">
        <div class="row mb-5">
          <div class="col-6 col-md-4">
            <h5 class="mb-3 text-muted">Users online</h5>
            <div class="mb-3">
              <ul class="list-unstyled text-highlight l-h-2x">
                <li>
                  <%= User.currently_online.collect do |user| %>
                    <% link_to user.name, main_app.user_home_path(user.login) %>
                  <% end.join(', ').html_safe %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-2">
            <h5 class="mb-3 text-muted">Discover</h5>
            <ul class="list-unstyled l-h-2x text-highlight">
              <li>
                <%= link_to 'All Artists', "/users" %>
              </li>
              <li>
                <%= link_to 'New Playlists', "/playlists" %>
              </li>
            </ul>
          </div>
          <% if logged_in? %>
          <div class="col-6 col-md-2">
            <h5 class="mb-3 text-muted">Do More</h5>
            <ul class="list-unstyled l-h-2x text-highlight">
              <li>
                <%= link_to 'Upload', '/upload' %>
              </li>
              <li>
                <%= link_to 'Create Playlist', '/new_album' %>
              </li>
              <% if moderator? %>
              <li>
                <%= link_to 'Admin', '/secretz' %>
              </li>
              <li>
                <%= link_to 'Spam Stats', 'https://akismet.com/web/1.0/user-stats.php?blog=streamzam.live&api_key=#{Alonetone.rakismet_key}' %>
              </li>
              <li>
                <%= link_to 'Sidekiq Job', '/sidekiq' %>
              </li>
                <% end %>
            </ul>
          </div>
            <% end %>
          <div class="col-6 col-md-2">
            <h5 class="mb-3 text-muted">Streamzam</h5>
            <ul class="list-unstyled l-h-2x text-highlight">
              <li>
                <%= link_to 'About Us', '/about' %>
              </li>
              <li>
                <%= link_to 'Privacy', '/about/privacy' %>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-2 text-md-right">
            <h5 class="mb-3 text-muted">Follow Me</h5>
            <a href="https://www.facebook.com/francis.miyobaheroh">Facebook</a>
          </div>
        </div>
        <div class="text-center py-5">
          <span class="text-muted text-sm">&copy; Copyright. Streamzam - Zambian Music  <%= Time.current.year %>, All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>