<header id="header" class="page-header fixed">
  <div class="navbar navbar-expand-lg">
    <!-- brand -->
    <a href="/" class="navbar-brand text-white ">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1" fill="#000"></circle>
        <circle cx="12" cy="12" r="2" stroke="currentColor" stroke-width="1"></circle>
        <g class="loading-spin" stroke="currentColor" stroke-width="1" style="transform-origin: 12px 12px">
          <path cx="4" cy="4" d="M16.24 7.76a6 6 0 0 1 0 8.49m-8.48-.01a6 6 0 0 1 0-8.49m11.31-2.82a10 10 0 0 1 0 14.14m-14.14 0a10 10 0 0 1 0-14.14"></path>
        </g>
      </svg>
      <!-- <img src="../assets/img/logo.png" alt="..."> -->
      <span class="hidden-folded d-inline l-s-n-1x ">Streamzam</span>
    </a>

    <!-- / brand -->
    <!-- Navbar collapse -->
    <div class="collapse navbar-collapse order-2 order-lg-1" id="navbarToggler">
      <ul class="navbar-nav" data-nav>
        <li class="nav-item">
          <%= link_to 'Artists', main_app.users_path, title: 'upcoming artists in zambia - uploaded music', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <% if logged_in? %>
          <%= link_to 'Your Music', main_app.user_home_path(current_user), title: 'access your songs on streamzam', class: 'nav-link' %>
            <% else %>
          <%= link_to 'Your Music', main_app.login_path(new: true), title: 'upload music for free zambia', class: 'nav-link' %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if logged_in? %>
          <%= link_to 'Upload', main_app.new_user_track_path(current_user), title: 'upload music for free zambia site', class: 'nav-link' %>
            <% else %>
          <%= link_to 'Upload', main_app.login_path(new: true), title: 'login to upload your songs for free in zambia', class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
      <%= render partial: 'shared/search' %>
    </div>



    <ul class="nav navbar-menu order-1 order-lg-2">
      <li class="nav-item d-none d-sm-block">
        <a class="nav-link px-2" data-toggle="fullscreen" data-plugin="screenfull" data-toggle="tooltip" data-title="Fullscreen">
          <i data-feather="maximize"></i>
        </a>
      </li>


      <li class="nav-item d-lg-none ml-1">



        <% if logged_in? %>
          <%= link_to 'Upload', main_app.new_user_track_path(current_user), title: 'upload music for free zambia site',
                      class: 'nav-link btn btn-rounded btn-xs gd-primary text-white' %>
        <% else %>
          <%= link_to 'Upload', main_app.login_path(new: true), title: 'login to upload your songs for free in zambia', class: 'nav-link btn btn-rounded btn-xs gd-primary text-white' %>
        <% end %>



      <li class="nav-item d-lg-none ml-1">



        <% if logged_in? %>
          <%= link_to 'Sign out', main_app.logout_path, title: 'log out', class: 'nav-link btn btn-rounded btn-xs gd-primary text-white' %>
        <% else %>
          <%= link_to 'Artists', main_app.users_path, title:'artists on zambia free music upload website', class: 'nav-link btn btn-rounded btn-xs gd-primary text-white' %>
        <% end %>


      </li>
      <!-- User dropdown menu -->
      <% if logged_in? %>
      <li class="nav-item dropdown">
<!--        <a href="#" data-toggle="dropdown" class="">-->
<!--          <span class="avatar w-24"> <%#= image_tag(current_user.avatar(:small)) %></span>-->
<!--        </a>-->
        <%= link_to  main_app.user_home_path(current_user), :class => "nav-link d-flex align-items-center py-0 px-lg-0 px-2 text-color" do  %>
          <span class="avatar w-24"> <%= image_tag(current_user.avatar(:small)) %></span>
          <%= (truncate current_user.name, length:8) %>
          <% end %>


      </li>

        <% else %>
      <li class="nav-item ml-1">
        <%= link_to 'Login', main_app.login_path, title: 'login to upload music for free in zambia', class: 'nav-link btn btn-rounded btn-xs gd-primary text-white'%></li>
        <% end %>




    </ul> <!-- here -->
  </div>
</header>