<!--<script src="https://cdn.headwayapp.co/widget.js" data-turbolinks-eval='false'></script>-->
<!--<script>-->
<!--  // @see https://docs.headwayapp.co/widget for more configuration options.-->
<!--  var config = {-->
<!--    selector: ".headway", // CSS selector where to inject the badge-->
<!--    account:  "yEwwZ7"-->
<!--  }-->
<!--  Headway.init(config)-->
<!--</script>-->