<div class="header_search ">
  <%= form_tag search_path, id: 'search_form' do %>
    <%= text_field_tag 'query', (@query || session[:last_query]), placeholder: 'Search for artist or song' %>
  <% end %>
</div>