<div id="static_header">
  <div class="title">
    %h1.static
      All about Streamzam
  <div id="links">
    <ul class="links">
      <%= user_nav_item "What is streamzam", {controller: 'pages', action: 'index' }, title: 'about streamzam' %>
      <%= user_nav_item "Press", {controller: 'pages', action: 'promo' }, title: 'press and promotional info' %>
      <%= user_nav_item "Stats", {controller: 'pages', action: 'stats'}, added_class: 'contact', title: 'statistics' %>
      <%= user_nav_item "Forums", forums_path, added_class: 'contact', title: 'forums' %>
      <%= user_nav_item "Blog", blog_path, added_class: 'contact', title: 'Blog' %>
     </ul>
    <% yield :pagination %>
    </div>
  </div>
</div>