<div class="about-page">
  <div class="faq box">
    <h2 class="box static">
      What is streamzam?
    </h2>
    <div class="static_content">
      <p>
        Streamzam is a platform to allow up and coming musicians to upload their music!
      </p>
      <p>
        If you make music and you dont like having to email music to someone or pay to promote your music, Streamzam is for you!
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      So, it's a website for musicians?
    </h2>
    <div class="static_content">
      <p>
        Yes, you are right
      </p>
      <p>
         You can upload all sorts of music here without paying anything! Its free, as in free beer!
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I join and upload mp3s here?
    </h2>
    <div class="static_content">
      <p>
        Sure.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I upload my podcast or radio show?
    </h2>
    <div class="static_content">
      <p>
        We prefer that you don't. If you do, it might be removed without warning.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      What is special about Streamzam?
    </h2>
    <div class="static_content">
      <p>
        There are plenty of websites for musicians to upload their music.  Why streamzam?
      </p>
      <p>
        Streamzam is built to be a simple home for your music, we dont ask you to pay anything or to email us your songs. You just sing up and click on your profile to start uploading your music!
      </p>
      <p>
         Most music websites are obessed with promotion, Streamzam is a place to just upload and store your music and let true fans listen to it!
      </p>
      <p>
       Streamzam is more like your own media community than is a promotional site, though you can share and promote your music
      </p>
      <p>
        Its so simple, that anyone can use it without having things moving around!
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Who makes streamzam??
    </h2>
    <div class="static_content">
      <p>
        Streamzam is built by  <%= link_to 'Hero', user_home_path('hero') %>
      </p>

    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      How long will it be free?
    </h2>
    <div class="static_content">
      <p>
        Forever is a long time.
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      Can I sell my music here?
    </h2>
    <div class="static_content">
      <p>
        Nope.
      </p>
      <p>
       There are many places to sell your music on the internet, Streamzam is just a simple home for your music!
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      So, I can upload my music and give it away?
    </h2>
    <div class="static_content">
      <p>
        Yeah, that's the most important bit, but there is more.
      </p>
      <p>
        Track who is listening to your music (and from where). Put your music on any website, and we handle all of the traffic. Upload it once here, use it wherever you want.
      </p>
      <p>
        So, nothing to lose, so stop reading, take 45 seconds and join
      </p>
    </div>
  </div>
  <div class="faq box">
    <h2 class="box static">
      How do you manage to run this platform??
    </h2>
    <div class="static_content">
      <p>
        Streamzam is built on amazon servers, initially  Amazon gave me 1000 dollars for startup school.
      </p>
      <p>
          Help out by sharing and spreading the word!
      </p>

    </div>
  </div>
</div>