Howdy!

Either you, or someone pretending to be you just went to streamzam and claimed they forgot their password.

Please visit the link below to reset your password:

<%= @url %>

If you have any trouble,  email support@streamzam.live and we'll straighten it out for you.

Thanks!
Hero