Hey there <%= @name %>,

You got a new comment on your track "<%= @song %>". <%= @number_of_comments > 1 ? 'That makes '+ @number_of_comments.to_s+'!' : ''%>

-----8<-------------------------

<%= @commenter %> says:

<%= @comment %>

-----8<-------------------------


Check out all your comments at:
https://streamzam.live/<%=@login%>/comments

Don't want positive feedback on your tracks via email? Adjust your settings here: <%= @settings_link %>

You can also turn off all emails by unsubscribing here: <%= @unsubscribe_link %>.
