<%= cache( logged_in? ? "asset#{asset.cache_key}/#{defined? favorite}/#{theme_name}" : "guest_asset#{asset.cache_key}/#{defined? favorite}/#{theme_name}" ) do %>
  <div class="asset_top">
    <div class="asset_top_row">
      <div class="play-button button" data-target="normal-playback.play" data-action="click->normal-playback#togglePlay">
        <%= link_to user_track_path(asset.user.login, asset.permalink, format: :mp3),
          id: "play-#{asset.unique_id}", class: 'play_link', title: 'play' do %>
            <svg data-target="normal-playback.playButton" class="playIconSymbol" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
            <path d="M187,489.21l-.31-378.41a.77.77,0,0,1,1.15-.67l150.53,86.75L515.71,299.08a.76.76,0,0,1,0,1.31L188.14,489.87A.76.76,0,0,1,187,489.21Z" />
            </svg>
        <% end %>
      </div>

      <div class="title" data-target="normal-playback.title" data-action="click->normal-playback#toggleDetails">
        <div class="title_left_column">
          <div class="title_left_column_top">
            <a href="<%= user_track_path(asset.user, asset.permalink) %>" class="track_link" title="<%= asset.name %>">
              <%= track_name_for(asset,200) %> <span style="font-size:12px;"><%= '&#x1f512;'.html_safe unless asset.published? %></span>
            </a>
          </div>
          <div class="title_left_column_bottom">
            <%= link_to asset.user.name, user_home_path(asset.user), class: 'artist', title: "#{asset.user.name} on streamzam " %>
          </div>
        </div>

        <div class="title_right_column">
          <div class='counter'></div>
          <div class='time' data-target="normal-playback.time playlist-update.time"><%= asset.length %></div>
        </div>
      </div>

    </div>
    <% if defined? favorite %>
    <div class="asset_favorited">

      <i class="icon_favorite">
        <%= render file: svg_path('svg/icon_favorite.svg') %>
      </i>

      <span class="favorited_by">
        <%= link_to favorite.user.try(:name), user_home_path(favorite.user), class: 'artist' %>
      </span><span class="favorited_when"><%= local_time_ago(favorite.created_at) %></span>
    </div>
    <% end %>
  </div>

  <div data-target="normal-playback.seekBarContainer" class="seekbar">
    <div data-target="normal-playback.seekBarLoaded" data-action="click->normal-playback#seek" class="loaded" style="width: 0%">
      <div data-target="normal-playback.seekBarPlayed" class="played" style="width: 0%"></div>
    </div>
  </div>

  <div class="tracks_reveal" data-target="normal-playback.details">
    <% if logged_in? %>
      <%= link_to toggle_favorite_path(asset_id: asset.id), remote: true, class: 'add_to_favorites',
        data: {controller: 'favorite', action: 'favorite#toggle' } do %>
        <svg id="faveSVG" class="faveSVG" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
          <path class="outline" d="M299.64,180.06C254.2,95.52,123.26,90.77,87.58,197,42.14,332.24,189.85,374.17,299.64,484.42,409.43,374.17,557.14,332.24,511.7,197,476,90.77,345.08,95.52,299.64,180.06Z" fill="none" stroke="#b4b4b4" stroke-miterlimit="10" stroke-width="35" />
          <circle class="purplePop" cx="490" cy="410" r="123" fill="none" stroke="#CC3CF6" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="greenPop" cx="206" cy="483" r="123" fill="none" stroke="#3BF686" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="bluePop" cx="340" cy="120" r="123" fill="none" stroke="#3D45F6" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="yellowPop" cx="112" cy="336" r="123" fill="none" stroke="#F6CD3F" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="redPop" cx="128" cy="124" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="redPop2" cx="485" cy="130" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <circle class="redPop3" cx="480" cy="436" r="123" fill="none" stroke="#F6463E" stroke-miterlimit="10" stroke-linecap="square" stroke-width="0" />
          <path class="heart" d="M299.64,180.06C254.2,95.52,123.26,90.77,87.58,197,42.14,332.24,189.85,374.17,299.64,484.42,409.43,374.17,557.14,332.24,511.7,197,476,90.77,345.08,95.52,299.64,180.06Z" transform-origin="20px 20px" fill="#f6463e" stroke="#f6463e" stroke-miterlimit="10" stroke-width="21" />
      </svg>
      <% end %>
    <% end %>
    <div class="tracks_reveal_top">
      <div class='media avatar w-48'>
          <%= link_to(image_tag(avatar_or_placeholder_for(asset.user)), user_home_path(asset.user)) %>
      </div>
      <div class="description">
          <div class='user_description'>
            <%= awesome_truncate_with_read_more(asset, 24) %>
          </div>

          <div class="created">Uploaded <%= local_time_ago(asset.created_at) %></div>

          <div class="below_description">

            <%= link_to user_track_path(asset.user, asset.permalink), title: "#{asset.name} by #{asset.user.name}" do %>
              <span>View more&hellip;</span>
            <% end unless @single_track %>


            <div class="plays"><%= asset.listens_count %> <i class="icon_plays">
              <%= render file: svg_path('svg/icon_play_inverted.svg') %>
            </i>
            </div>

            <div class="favorite_total"><%= asset.favorites_count %>
                <i class="icon_favs">
                <%= render file: svg_path('svg/icon_favorite_circled.svg') %>
                </i>
            </div>
          </div>
      </div>
    </div>
  	<% if logged_in? || asset.guest_can_comment? %>
      <div id="comment_track_<%= asset.unique_id %>" class="comment_track">
        <%= render partial: 'assets/comment_white', locals: { asset: asset }%>
      </div>
  	<% end %>
    <div class="track_links">
      <%= link_to edit_user_track_path(asset.user, asset), class: 'show_to_admin_or_owner edit_in_box', title: 'edit this track' do %>
        <span>edit</span>
      <% end %>

	    <% if !asset.private? %>
        <%= link_to 'mark as spam', spam_user_track_path(asset.user, asset), class: 'show_to_admin_or_owner edit_in_box', data: {confirm: 'Are you sure you want to mark this as SPAM? This will make it harder for the user who posted this  to post again'}, method: :put%>
      <% else %>
        <%= link_to 'unspam', unspam_user_track_path(asset.user, asset), class: 'show_to_admin_or_owner edit_in_box', data: {confirm: 'This will publish this track!'}, method: :put%>
      <% end %>

    </div>
  </div>
<% end %>
