<div id="home_grid">
  <% if !@playlists.blank? %>
  <%= cache("home/playlists/#{@playlists.first.cache_key}/#{theme_name}") do %>
    <div id="home_playlists_area">
      <div class="latest-playlists-header">
        <h2>
        <%= link_to "New playlists".html_safe, all_playlists_path, title: 'view latest playlists' %>
        </h2>
      </div>
      <% if white_theme_enabled? %>
      <ul class="playlists">
        <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
      </ul>
      <% else %>
      <ul class="playlists_row">
        <%= render partial: 'playlists/row', collection: @playlists, as: :playlist %>
      </ul>
      <% end %>
    </div>
  <% end  %>
    <% else %>
    <div id="main" class="layout-row flex mt-0">
      <!-- ############ Content START-->
      <div id="content" class="flex ">
        <!-- ############ Main START-->
        <div>
          <div class="page-content page-container" id="page-content">
            <div class="padding sr">
              <div class="page-hero" style="padding: 2rem 0 0rem 0;">
                <div class="media bg-media">
                  <div class="media-content" style="background-image:url('')"></div>
                </div>
                  <div data-bg="">
                    <div class="pos-rlt">
                      <h2 class="display-2 font-weight-bold text-white">Streamzam</h2>
                      <div class="col-12 px-0 py-3 text-center">
                        <p class="text-white text-fade">A free music upload and download platform for upcoming zambian artists.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div id="home_left_column">

            <div id="home_latest_area">
              <div class="box">
                <%= link_to radio_path(per_page: 40, source: 'latest'), class: 'view_all', title: 'latest upcoming zambian music' do %>
            <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>
                <% end %>
                <h2>
                  <%= link_to radio_path(per_page: 80, source: 'latest'), title: 'latest zambian music' do %>
                    New Music
                  <% end %>
                </h2>
                <%= render partial: 'assets/asset', collection: @assets %>
              </div>
            </div>

            <div id="home_comments_area">
              <div class="box">
                <%= link_to all_comments_path, class: 'view_all', title: 'view latest comments' do %>
            <span>view all &nbsp;
          <i class="icon_caret">
            <%= render file: svg_path('svg/icon_caret.svg') %>
          </i>
        </span>

                <% end %>
                <h2>
                  <%= link_to all_comments_path, title: 'view latest comments' do %>
                    Latest Comments
                  <% end %>
                </h2>
                <%= render partial: 'shared/comment', collection: @comments %>
              </div>
            </div>

          </div>

          <div id="home_right_column">

            <div id="home_popular_area">
              <div class="box">
                <%= link_to radio_path(:per_page => 40,:source => 'popular'), :class => "view_all", :title => 'popular zambian music' do %>
            <span>view all &nbsp;
        <i class="icon_caret">
          <%= render file: svg_path('svg/icon_caret.svg') %>
        </i>
      </span>

                <% end %>
                <h2>
                  <%= link_to radio_path(per_page: 40, source: 'favorites'), title: 'most liked zambian music' do %>
                    Trending Songs
                  <% end %>
                </h2>
                <% @favorites.each do |favorite| %>
                  <div class="asset favorite" data-controller="normal-playback">
                    <%= render partial: 'assets/asset_white', locals: { asset: favorite.asset, favorite: favorite } %>
                  </div>
                <% end %>
              </div>
            </div>


            <% if @followee_tracks %>
              <div id="home_follows_area">
                <div class="box">
                  <%= link_to radio_path(:per_page => 40, :source => 'those_you_follow'), :class => 'view_all', :title => 'zambian music you follow' do %>
            <span>view all &nbsp;
            <i class="icon_caret">
              <%= render file: svg_path('svg/icon_caret.svg') %>
            </i>
          </span>

                  <% end %>
                  <h2>
                    <%= link_to radio_path(per_page: 40, source: 'those_you_follow'), title: 'best zambian music you listen to' do %>
                      Tracks from those you follow
                    <% end %>
                  </h2>
                  <div>
                    <%= render partial: 'assets/asset', collection: @followee_tracks %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

        </div>



      </div>
        </div>
      </div>
    </div>
    <% end %>



