<%= render partial: 'notices/create_playlist'  unless (@user.playlists_count > 0) || @user.assets_count < 1 %>
<% content_for :left do %>
  <div class="upload box">
    <h2 class="box">Upload Music</h2>
    <div class="static_content">
      <%= render partial: 'form' %>
    </div>
    <div class="static_content">
    	<p>Upload mp3 or zip files, up to 40MB each.</p>
      <p>By clicking "Upload!" <b>you confirm that you own the copyright to the files you upload</b>
      and accept our terms and conditions.</p>
	  </div>
  </div>

  <% if current_user.greenfield_enabled? %>
  <div class="upload box">
    <h2 class="box">Upload by URL</h2>
    <div class="static_content">
    <%= form_for :asset, url: user_tracks_path(current_user) do |f| %>
      <div id="uploader">
        <dl class="group" class="fileform">
          <dt id="filelbls">
          </dt>
          <dd class="asset-data">
            <ul class="filefields">
              <li>
                <%= text_field_tag  'asset_data[]', '', placeholder: 'dropbox url, etc', size: 50 %>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="submit_wrapper">
        <%= submit_tag 'Upload, and publish!', id: 'upload', data: { disable_with: 'Uploading...' }  %>
        <%= submit_tag "Upload, but don't publish", data: { disable_with: 'Uploading...' }  %>
      </div>
      <% end %>
      <div class="uploading" style='display:none'>
        <%= image_tag 'icons/uploading.gif'%>
      </div>
    </div>
  </div>
  <% end %>

<% end %>

<% content_for :right do%>
  <div id="fineprint" class="box">
	<h2 class="box">Terms And Conditions</h2>
	<p class="static_content">
		<strong>Streamzam is free to upload your own music.</strong><br><br>
	</p>

	<div class=" static_content">
		You can only upload music you made yourself. <br><br>
		<strong><span style="color:red">Please don't upload music by others because of legal issues!<span></strong><br/>
    <br>
    And be nice! .</br>
	</div>
	<div class=" static_content">
		<strong>Mp3s uploaded here will be public the minute you upload them.</strong>
	</div>
	<div class=" static_content">
		By uploading a mp3 file to streamzam.live, <b>you grant streamzam.live the non-exclusive right to distribute<br/>
		the music in any way we see fit without your further permission or notification. </b><br/>
		<br/>
		That means that your music will likely show up on streamzam.live, facebook, and even our mobile app.<br/><br/>

		As the rights are non-exclusive, you keep your rights as a copyright holder.
		You can of course sell it or distribute it elsewhere - you own it!<br/>
	</div>
	<div class=" static_content">

		<strong>You may delete your music at any time</strong><br><br>

		All traces of your track will be removed from streamzam, ripping it out of any user's playlists, removing comments, etc
	</div>
	</div>
<% end %>