@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,700);
body {
	font-family: 'Poppins', $sans-font;
	background-color: $body-background-color;
}

ul {
	padding-left: 0;
	list-style: none;
}
	
.box {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: $baseline * 2;

	justify-content: space-between;
	@include samo-shadow-and-radius();
	h1, h2 {
		font-weight: bold;
		line-height: 42px;
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 42px;
		margin-top: 0;
		margin-bottom: 1px;
		padding: 0 0 0 $baseline / 2;
		color: $samo-orange;
		border-bottom: 1px solid $light-gray;
		background-color: transparent;
		&.static_content_heading {
			padding-left: $baseline / 2;
		}
	}
}



a.view_all {
  @include default_button();
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 9px;
	right: 0;
	padding-right: 15px;
	color: #929496;
	color: #868686;
	border: 0;
	background-color: transparent;
	box-shadow: none;
	&:hover {
		color: $samo-orange;
		border: 0;
	}
	span {
		vertical-align: top;
		display: inline-flex;
	}
	.icon_caret_path {
		stroke: #868686;
	}
	&:hover {
		text-decoration: none;
		background-color: transparent;
		.icon_caret_path {
			stroke: $samo-orange;
		}
	}
}

/* USER LISTS */

#user_index {
	display: flex;

	@include match-dynamic-site-width();
	flex-wrap: wrap;
	justify-content: space-between;
	#static_header {
		width: 30%;
		@media #{$tablet} {
			width: 100%;
		}
		#links {
			width: 230px;
			li {
				display: block;
				float: none;
				a {
					float: none;
				}
			}
		}
	}
	#large_users_grid {
		display: flex;
		width: 70%;
		margin-top: 52px;

		flex-wrap: wrap;
		justify-content: space-between;
		@media #{$tablet} {
			width: 100%;
		}
		div.clear {
			display: none;
		}
		div.user {
			position: relative;
			width: 150px;
			margin-bottom: 30px;
			text-align: center;
			img.cover {
				width: 125px;
				height: 125px;
			}
			.name {
				font-size: 13px;
				display: block;
				margin-top: 4px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/* SEARCH RESULTS */

.tracks_search_results {
	background-color: #FFF;

	@include samo-shadow-and-radius();
}

#user_search_results {
	display: flex;
	margin-top: 60px;

	@include match-dynamic-site-width();
	flex-wrap: wrap;
	justify-content: space-between;
	div.user {
		position: relative;
		width: 150px;
		margin-bottom: 30px;
		text-align: center;
		img.cover {
			width: 125px;
			height: 125px;
		}
		.name {
			font-size: 13px;
			display: block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}



