footer#site_footer {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
  color: #91a5f4;
  background-color: #FFFFFF;
  .author_name {
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: -3px;
  }
  .footer_inner {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    @include match-dynamic-site-width();
    flex-wrap: wrap;
    justify-content: space-between;
    .footer_column {
      width: 23%;
      min-width: 150px;
      padding-top: 20px;
      @media #{$tablet} {
        font-size: 17px;
        line-height: 32px;
        width: 100%;
        h3.footer_column_header {
          font-size: 18px;
          margin-bottom: 12px;
        }
      }
      .footer_column_header {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        padding-bottom: 2px;
        border-bottom: 1px #bbb solid;
      }
    }
  }
}
