.pagination {
	position: relative;
	display: block;
	float: right;
	height: 32px;
	text-align: right;
	em, a, span, a:visited {
		font-size: 12px;
		line-height: 14px;
		display: block;
		float: left;
		height: 12px;
		padding: 10px 10px;
		color: #888;
	}
	em, a:hover, span.current {
		text-decoration: none;
		color: $samo-orange;
	}
	em {
		font-weight: bold;
		font-style: normal;
	}
	span.gap {
		padding: 10px 0;
	}
	span.disabled {
		opacity: .5;
	}
}

.mini_paginator {
	position: relative;
	height: 32px;
	border-bottom: 1px solid #DADADA;
	background-color: #FFF;
	.pagination {
		display: flex;
		flex-direction: row;
		width: 100%;
		 > * {
			display: block;
		}
	}
}
