// /home, /user, /playlists capsules

// There's some playlist code in home.scss that shares too many styles with this file

ul.playlists {
  display: flex;
  flex-wrap: wrap;
  &.three_or_less_playlists {
    justify-content: flex-start;
    li.playlist {
      margin-right: $baseline;
    }
  }
  li.playlist {
    &:last-child {
      margin-right: 0;
    }
    font-size: 11px;
    width: 200px;
    margin-right: $baseline * 1.5;
    margin-bottom: $baseline * 1.5;
    padding-bottom: $baseline / 4;
    text-align: center;
    background-color: $white;
    @include samo-shadow-and-radius();
    > a:first-child {
      height: 200px;
      @media #{$tablet} {
        height: auto;
      }  
    }
    a {
      display: block;
      img {
        display: block;
        width: 200px;
        border-radius: 4px 4px 0 0;
      }
      svg {
        display: block;
        border-radius: 4px 4px 0 0;
      }
    }
    a.small_playlist_title {
      font-weight: bold;
      display: block;
      overflow: hidden;
      margin-top: 10px;
      padding: 0 6px;
      text-align: center;
    }
    a:last-child {
      font-weight: normal;
      display: block;
      margin-top: 5px;
      padding: 0 6px;
      color: $samo-gray;
    }
  }
  @media #{$mobile} {
		display: flex;
		flex-direction: row;
		width: $mobile-site-width-wide;
		margin-bottom: 20px;
		flex-wrap: wrap;
		justify-content: space-around;
		li.playlist {
      display: block!important;
      width: 45%;
      margin: 0;
      margin-bottom: 18px;
      a {
        img {
          width: 100%;
        }
      }
		}
	}
}


.playlists_container {
  @include match-dynamic-site-width();
  ul.playlists {
    margin-right: -36px;
    li {
      margin-bottom: 30px;
    }
  }
}


.playlist {
div.box {
margin-bottom: 1px;
padding-top: 9px;
padding-left: 25px;
background-color: $light_gray;
h2 {
font-size: 20px;
font-weight: normal;
line-height: 20px;
margin: 0;
margin-bottom: 4px;
padding-right: 40px;
}
h3 {
font-size: 12px;
font-weight: normal;
margin: 0;
padding-bottom: 8px;
}
}
div.info {
position: relative;
display: block;
padding: 15px 15px 15px 20px;
background-color: $playlist_box_silver;
div.cover {
position: relative;
float: left;
overflow: hidden;
width: 148px;
height: 136px;
}
p.description {
float: left;
font-size: 12px;
width: 360px;
margin-left: 20px;
}
.play_time {
font-weight: bold;
}
}
.empty {
position: relative;
margin-bottom: 1px;
padding: 10px 20px 10px 20px;
background-color: $orange_background;
a {
font-weight: bold;
text-decoration: underline;
}
}
}
