header#site_header {
  background-color: #fff;
  box-shadow: 2px 3px 4px 2px #65666627;
  height: 40px;
  .header_inner {
    position: relative;
    @include match-dynamic-site-width();
    margin-right: auto;
    margin-left: auto;
    .header_logo {
      position: absolute;
      top: 2px;
      display: block;
      width: 50px;
      height: 45px;
      background: transparent image-url('alonetone_big-notext-flat.png') no-repeat;
      background-size: 80%;
      background-position: 0 3px;
    }
    .headway {
      position:absolute;
      top:4px;
      left:40px;
      width: 15px;
      height: 35px;
    }
    .header_nav {
      display: none;
    }
    .header_login {
      float: right;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        height: 40px;
        a {
          @include default_button();
          font-family: 'Poppins';
          border-radius: 20px;
          background-color: #91a5f4;
        }
      }
    }
    .user_dropdown {
      position: relative;
      float: right;
      background-color: $light-gray;
      .profile_link {
        font-size: 14px;
        position: relative;
        z-index: 100;
        display: block;
        box-sizing: border-box;
        height: 40px;
        padding-top: 3px;
        color: #91a5f4;
        background-color: $white;
        span {
          line-height: 34px;
          display: block;
          float: left;
          min-width: 122px;
          padding: 0 10px 0 15px;
          text-align: right;
          position: relative;
          top: 1px;
          &:hover {
            text-decoration: underline;
          }
        }
        img {
          width: 34px;
          height: 34px;
        }
      }
      .user_dropdown_menu {
        position: absolute;
        top: -116px;
        margin-top: 40px;
        width: 100%;
        z-index: 99;
        a {
          font-size: 14px;
          font-weight: normal;
          display: block;
          height: 26px;
          padding-right: 15px;
          padding-left: 15px;
          color: $black;
          background-color: $white;
          &:hover {
            background-color: $light-gray;
            text-decoration: none;
          }
        }
      }
    }
  }
  .header_search {
    position: relative;
    float: right;
    margin-right: 4%;
    padding-top: 8px;
    @media #{$mobile} {
      display: block;
    }
    li#upload {
      margin-top: 7px;
    }
    li#upload a {
      color: #91a5f4;
    }
    #search_form {
      display: block;
      float: left;
      #query {
        font-size: 12px;
        width: 180px;
        height: 25px;
        line-height: 1.2em;
        padding: 0;
        padding-left: 8px;
        box-sizing: content-box;
        color: #222222;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        &:focus {
          border: 1px solid #AAAAAA;
        }
      }
    }
    #search_button {
      display: block;
      float: left;
      width: 18px;
      height: 18px;
      margin-top: 3px;
      margin-left: 8px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
