.track-content {
  .download-link {
    color: #FF0000;
    text-transform: uppercase;
    margin: 8px;
    text-align: center;
    padding-bottom: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #FF0000;
  }
  @include match-dynamic-site-width('narrow');
   > * {
    background-color: white;
    @include samo-shadow-and-radius();
  }
  .edit-links-and-favorite {
    height: 38px;
    overflow: auto;
    background-color: transparent;
    box-shadow: none;

    .edit-links {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      float: left;
      .edit-link {
        @include default-button('admin');
      }
      .edit-link + .edit-link {
        margin-left: 6px;
        text-transform: uppercase;
        background-color: #FFF;
        color: #EB7B0C;
      }
    }
    .download-link {
      float: right;
      color: #FF0000;
      text-transform: uppercase;
      margin: 8px;
      text-align: center;
      padding-bottom: 6px;
      cursor: pointer;
      box-shadow: 1px 1px 2px #FF0000;
      a {

      }
    }
    .track-favorite {
      width: 30px;
      margin-right:10px;
      float: right;
      position: relative;
    }
  }

  .track-post, .track-edit {
    position: relative;
    z-index: 3;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    @media #{$tablet} {
      padding: $baseline / 2;
    }
    h1 {
      font-size: $baseline;
      margin-top: 0;
      line-height: 32px;
    }
    h3 {
      margin-top: $baseline / 2;
      margin-bottom: $baseline;
      color: $samo-gray;
    }
    p {
      font-size: 16px;
      line-height: 23px;
      margin-bottom: $baseline;
      img {
        max-width: 100%;
        margin-top: $baseline;
      }
    }

    div.track-stats {
      font-family: $sans-font;
      font-size: 12px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      margin-top: -4px;
      .created {
        font-size: 14px;
        display: block;
        color: #A6ABAB;
        flex-grow: 1;
        time {
          font-weight: bold;
        }
      }
      .plays {
        font-size: 12px;
        font-weight: bold;
        padding-right: 8px;
        padding-left: 8px;
        text-align: center;
        color: #A6ABAB;
        display: flex;
        justify-content: start;
      }
      .favorite_total {
        font-size: 12px;
        font-weight: bold;
        padding-left: 8px;
        text-align: center;
        color: #A6ABAB;
        display: flex;
        justify-content: start;
      }
      i  {
        margin-left: 8px;
        svg {
          width: 17px;
          position: relative;
          top: -4px;              
        }
      }
    }
    hr {
      font-family: 'FontAwesome';
      position: relative; // needed for icon
      width: 550px;
      margin: ($baseline * 1.5) auto;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #aaa;
      &:after {
        position: absolute;
        top: -.55em;
        left: 265px;
        display: block;
        content: '\f025'; // with headphone icon
        color: #aaa;
        background-color: white; // interrupt hr

        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .comment_asset {

  }

  .track-edit {
    header {
      input {
        font-family: $sans-font;
        font-weight: bold;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
      }
    }
    textarea {
      font-size: 18px;
      line-height: 27px;
      font-family: $serif-font;
      font-size: 18px;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 300px;
      margin-top: $baseline;
      margin-bottom: $baseline;
      padding: $baseline / 2;
      word-wrap: break-word;
      color: $not-quite-black;
      border: 1px solid $lightest-gray;
      background-color: transparent;
      @media #{$tablet} {
        font-size: 16px;
      }
    }
    textarea#asset_credits {
      display: none;
    }
    .track-edit-bottom {
      a {
        text-decoration: underline;
        &:hover {
          color: $samo-orange;
        }
      }
      .edit-save {
        overflow: auto;
        margin-top: $baseline;
        input {
          cursor: pointer;
          float: left;
          margin-right: $baseline / 2;
          @include default-button('admin');
        }
      }
    }
  }
}
