.track-content {
  .track-social {
    margin-top:2em;
    box-shadow: none;
    background-color: transparent;
    text-align: right;  
    h3 {
      background:none;
      color: $not-quite-black;
      text-transform: uppercase;
      font-size: 12px;
      color: $new-samo-gray;
      margin-bottom:0px
    }
    .recent-listeners, .favoriters {
      display: inline-block;
      border-radius: 5px;
      overflow: hidden; // clip the images
    }
    div.edge_to_edge_small{
      float: right;
      height:50px;
      width:50px;
    }
  }
}