main {
  #user_home {
    .box h2 {
      padding-left: 50px;
    }
    display: grid;
    max-width: 1100px;
    padding: 0 $baseline * 1.5;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: $baseline * 1.5;
    grid-row-gap: $baseline * 1.5;
    justify-content: space-around;
    grid-template-areas:
    'header header'
    'playlists playlists'
    'left right'
    'card card'
    'plays popular';
    .box {
      margin-bottom: 0;
    }
    @media #{$tablet} {
      display: flex;
      flex-direction: column;
       > * {
        width: 100%;
      }
    }

    @media #{$mobile} {
      padding-left: 0;
      padding-right: 0;
    }

    .box {
      @media #{$mobile} {
        margin-bottom: $baseline * 1.5;
      }
    }

    #user_header_area {
      grid-area: header;
    }
    #user_playlists_area {
      @media #{$mobile} {
        order: 1;
      }
      grid-area: playlists;

      h2 {
        color: $samo-orange;
      }
      ul {
        margin: 0;
        margin-right: -36px;
        @media #{$mobile} {
          margin: 0 auto;
        }
        li:last-child {
          margin-right: 36px;
        }
      }
    }

    #user_left_column {
      margin-top: -$baseline * 1.5;
      grid-area: left;
      > div {
        margin-bottom: $baseline * 1.5;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    #user_right_column {
      margin-top: -$baseline * 1.5;
      grid-area: right;
      > div {
        margin-bottom: $baseline * 1.5;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    #user_card_area {
      grid-area: card;
      @media #{$mobile} {
        order: 1;
      }
    }
    #user_plays_area {
      grid-area: plays;
    }
    #user_popular_area {
      grid-area: popular;
    }
     > * {
      min-width: 320px;
    }

    #user_header_area {
      #user_header {
        display: flex;
        img {
          display: block;
          width: 62px;
          height: 62px;
        }
        .user_name_and_location {
          align-self: flex-end;
          h1.user_name {
            margin-bottom: -4px;
          }
          @media #{$tablet} {
            padding-left: 15px;
          }
        }
        a.follow {
          display: block;
          width: 48px;
          height: 48px;
          align-self: flex-end;
          position: relative;
          top: 4px;
        }
        a.edit_profile {
          position: absolute;
          margin-left: 0px;
          margin-top:70px;
          @include default_button('admin');
           > div {
            display: none;
          }
        }
      }
    }
    .user_playlists_buttons {
      margin-bottom: $baseline;
      #create_new_playlist {
        @include default_button('admin');
      }
      #change_playlist_order {
        @include default_button('admin');
        img {
          display: none;
        }
      }
    }
    #user_card_area {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $baseline * 2;
      background-color: $box-background-color;
      @include samo-shadow-and-radius();
      @media #{$tablet} {
        flex-direction: column;
      }
      .user_card_avatar {
        max-width: 50%;
        flex-grow: 1;
        @media #{$tablet} {
          max-width: 100%;
          width: 100%;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      .user_card_content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: $baseline;
        max-width: 50%;
        box-sizing: border-box;
        @media #{$tablet} {
          max-width: 100%;
          width: 100%;
          margin-left: 0;
        }
        p {
          margin-top: 4px;
          margin-bottom: 4px;
        }
        hr {
          top: 15px;
          bottom: 15px;
          height: 1px;
          border: 0;
          background-color: $light-gray;
        }
        .user_card_bio {
          font-family: $serif-font;
          flex-grow: 1;
          font-size: 14px;
          line-height: 1.2em;
        }
        .user_card_links {
         font-size: 13px;
          a {
            text-decoration: underline;
            &:hover {
              color: $samo-orange;
            }
          }
        }
        .user_card_stats {
          font-size: 13px;
          margin-top: $baseline / 2;
          padding-top: $baseline / 2;
          border-top: 1px solid $light-gray;
        }
        .user_card_mod_stats {
          margin-top: $baseline / 2;
          padding-top: $baseline / 2;
          border-top: 1px solid $light-gray;
          word-wrap:break-word;
          line-height: 1.3em;
          a.edit_profile {
            @include default-button("admin");
            margin-bottom: $baseline / 2;
          }

          a.edit_profile--delete {
            @include default-button("admin");
            margin-bottom: $baseline / 2;
            background-color: $red;
          }
        }
      }
    }
    #user_plays_area {
      .box > h2 {
        padding-left: $baseline / 2;
      }
      #user_track_plays {
        padding-bottom: $baseline / 2;
        .static_content {
          font-size: 12px;
          margin-left: $baseline / 2;
          margin-top: $baseline / 2;
          margin-bottom: $baseline / 2;
        }
        .listen {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          margin-top: 10px;
          padding-right: $baseline;
          padding-left: $baseline / 2;
          background-color: $box-background-color;
          display: flex;
          .listen_user {
            margin-right: $baseline / 2;
            img {
              width: 40px;
              height: 40px;
            }
          }
          .listen_details {
            font-size: 10px;
            line-height: 11px;
            overflow: hidden;
            height: 40px;
            min-height: 25px;
            padding-top: 5px;
            flex-grow: 1;
            a {
              font-size: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  a.delete_green {
    display: block;
    float: right;
    &:hover {
      color: $white;
    }

    @include default_button('admin');
  }
}
