// layout

$desktop-site-width-wide: 90%;
$mobile-site-width-wide: 96%;
$desktop-site-width-narrow: 66%;
$mobile-site-width-narrow: 96%;

@mixin match-dynamic-site-width($type: '') {
  width: $desktop-site-width-wide;
  margin-right: auto;
  margin-left: auto;
  @media #{$mobile} {
    width: $mobile-site-width-wide;
  }
  @if $type == 'narrow' {
    width: $desktop-site-width-narrow;
    @media #{$mobile} {
      width: $mobile-site-width-narrow;
    }
  }
}

$baseline: 24px; // Used for spacing layout, was 27px

// media tiers

$mobile: 'only screen and (max-width: 420px)';
$tablet: 'only screen and (max-width: 640px)';
$widescreen: 'only screen and (min-width: 1500px)';

// site colors

$body-background-color: #ffffff;
$box-background-color: #fff;

// fonts

$black-font: 'Alright Sans Black', sans-serif; // not even used?? why not use medium
$sans-font: 'Alright Sans', sans-serif; // "Alright Sans Bold" exists for font-weight: bold or <strong>
$serif-font: 'Harriet Text', serif;

// colors ( how many of these are used, useful? )

$black: #000;
$not-quite-black: #353535;
$medium-gray: #666;
$light-medium-gray: #888;
$gray: #999;
$silver: #c7c8c7;
$samo-gray: #868686;
$new-samo-gray: #a6abab;
$lightest-gray: #c7c6c3;
$light-gray: #eee;
$samo-background-gray: #f1f2f2;
$white: #fff;
$red: #d3220c;
$green: #66a410;
$orange: #da6d25;
$orange-background: #91a5f4;
$samo-orange: #91a5f4;
$samo-dark-orange: #252525;
$nav-item-color: #c1c9b4;
$tab-box-silver: #fff;
$playlist-box-silver: #fff;
$box-background-even: #fff;
$not-quite-white: #f9f9f9;
$not-quite-white-opaque: #f9f9f9;
$disabled: #8c8e86;
$body-link-hover: #1a1d13;
$waveform-playing: #302f2f;
$bright-highlight: rgba(255, 255, 0, .6);

@mixin samo-shadow-and-radius() {
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
}

@mixin default-button($type: '') {
  font-family: $sans-font;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
  box-sizing: border-box;
  height: 26px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 4px;
  background-color: #a6abab;
  box-shadow: none;
  @if $type == 'admin' {
  }
  @if $type == 'jumbo' {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
  }
  &:hover {
    background-color: #888;
  }
  &:active {
    background-color: #eb7b0c;
  }
}
