@import 'white_theme';

// check out variables and override pre-import
// https://github.com/thredded/thredded/blob/master/app/assets/stylesheets/thredded/base/_variables.scss

$thredded-base-font-family: $sans-font;
$thredded-heading-font-family: $sans-font;
$thredded-grid-container-max-width: none;
$thredded-brand: $samo-orange;
$thredded-base-border-color: $light-gray;

$thredded-font-size-small: 13px;

@import 'thredded';

li.thredded--user-navigation--private-topics {
  display: none;
}

li.thredded--user-preferences--notifications-for-private-topics {
  display: none;
}

aside.thredded--currently-online {
	display: none;
}

#thredded--container {
  box-sizing: border-box;
  padding-top: $baseline;
  padding-right: $baseline * 3;
  padding-bottom: $baseline;
  padding-left: $baseline * 3;
  background-color: #fff;
  @include samo-shadow-and-radius();
  @include match-dynamic-site-width('narrow');

  @media only screen and (max-width: 1000px) {
    @include match-dynamic-site-width('wide');
  }

  @media #{$tablet} {
    padding-left: 4%;
    padding-right: 4%;
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }
  @media #{$mobile} {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  header {
    nav {
      .thredded--main-navigation {
        .thredded--navigation-breadcrumbs {
          li {
            font-size: 18px;
            font-weight: bold;
            a {
              color: $samo-orange;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  section.thredded--main-section {
  	.thredded--messageboard:hover {
		background-color: inherit;
		color: inherit;
  	}
	margin-bottom: 27px;
	padding-top: $baseline * .5;
	border-top: 1px solid $thredded-base-border-color;

  	.thredded--messageboards--actions {
		margin-top: $baseline;
  	}
    header.thredded--topic-header {
      padding-bottom: $baseline;
      margin-bottom: 1rem;
      border-bottom: 1px solid $thredded-base-border-color;
      h1.thredded--topic-header--title {
        font-size: 27px;
        font-weight: bold;
        color: #000;
      }
    }
    article.thredded--post {
      padding-bottom: 27px;
      margin-bottom: 16px;
      border-bottom: 1px solid $thredded-base-border-color;
      .thredded--post--user {
        font-size: 1rem;
      }
      .thredded--post--content {
        font-family: $serif-font;
        font-size: 1rem;
      }
    }
    article.thredded--topics--topic {
    	border-bottom: 1px solid $light-gray;
    	padding-bottom: 13px;
    	margin-bottom: 13px;
      h1.thredded--topics--title {
        a {
          font-size: 18px;
          font-weight: bold;
        }
      }
      cite.thredded--topics--updated-by {
      	font-size: 12px;
      }
    }
    .thredded--post-form--wrapper {
      border-top: 0;
    }
  }
  .thredded--post--content {
    line-height: 1.5rem;
    font-size: 1rem;
    h1, h2, h3 {
      margin-bottom: 0;
    }
    h2 {
      color: $not-quite-black;
      margin-top: 2rem;
      margin-bottom: .25rem;
      line-height: 1.5rem;
    }
  }
  [type="checkbox"]:not(:checked), [type="checkbox"] {
    left: 0;
    position: static;
  }
}

.thredded--button, .thredded--form--submit {
  @include default-button();
}

.thredded--form {
  .thredded--button, .thredded--form--submit {
    @include default-button();
  }
  label {
    // font-family: $sans-font;
  }

  textarea#post_content, .thredded--preview-area--post {
    font-family: $serif-font;
    font-size: 1rem;
  }
}

.thredded--alert-info, .thredded--flash-message--notice {
  background-color: transparent;
}
.thredded--flash-message {
  display: none;
}

.thredded--form [type="color"]:focus, .thredded--form [type="date"]:focus, .thredded--form [type="datetime"]:focus, .thredded--form [type="datetime-local"]:focus, .thredded--form [type="email"]:focus, .thredded--form [type="month"]:focus, .thredded--form [type="number"]:focus, .thredded--form [type="password"]:focus, .thredded--form [type="search"]:focus, .thredded--form [type="tel"]:focus, .thredded--form [type="text"]:focus, .thredded--form [type="time"]:focus, .thredded--form [type="url"]:focus, .thredded--form [type="week"]:focus, .thredded--form input:focus:not([type]), .thredded--form textarea:focus, .thredded--form select[multiple="multiple"]:focus {
  border: 1px solid #e1e1e1;
  box-shadow: none;
}

.thredded--post--dropdown--actions--item, form.button_to>.thredded--post--dropdown--actions--item {
  height: 51px;
}



.thredded--post--dropdown {
  background-image: image-url('svg/icon_gear.svg');
  width: 15px;
  height: 15px;
  svg {
    display: none;
  }
}
