<p>
  <label>Title</label>
  <%= f.text_field :title %>
</p>

<p>
  <label>Year released (e.g. 2019)</label>
  <%= f.text_field :year, size: 4 %>
</p>
<p>
  <label>Description</label>
  <%= f.text_area :description, rows: 4 %>
</p>

<p>
  <label>Hidden from the public?</label><br>
  <%= f.check_box :private %><br>
  <span style="font-size: 12px">(Playlist will always be hidden until they have more than 2 tracks)</span>
</p>