<h1>Streamzam Features: <%= @user.name %></h1>
<% content_for :left do %>
  <% div_for @feature do %>
      <div class="box">
        <h2><%= @feature.featured_user.name %></h2>
        <h3>written by <%= link_to @feature.writer.name, user_home_path(@feature.writer)%>
        <%= link_to 'edit', edit_feature_path(@feature.featured_user.login), class: 'edit right' if authorized?%>

      </div>
    <div class="static_content">
        <p><strong><%= @feature.teaser_text %></strong></p>
        <%= @feature.body %>
      <%= render partial: 'comment', object: @feature %>

    </div>
  <% end %>
  
  <div class="box">
    <h2 class="box">About streamzam Features</h2>
    <div class="static_content">
    <%= link_to "alonetone features musicians", features_path %> who
    give great music away for free, making our home warm and wonderful
    <br/><br/>
    We welcome your suggestions for future features and we're open to have
    other interested authors contribute text. Step up!
    </div>
  </div>
  <div class="footer_box">
    <%= link_to ' ', features_path, class: 'view_all_features' %>
   </div>
<% end %>

<% content_for :right do %>
   <div class="box feature_stats">
       <h2 class="box">Vital Stats</h2>
        <div class="static_content clearfix">
           <div class="pic">
           <%= user_image_link(@feature.featured_user, :album) %>
           </div>
           <% if @user.has_tracks? %>
           <div class="stats">
               joined alonetone <strong><%= @user.created_at.to_date.to_s(:long) %></strong><br/>
               <%= link_to "#{@user.playlists.only_public.count} albums/mixes", user_playlists_path(@user.login) if @user.playlists.only_public.count > 0 %><br/>
               <%= link_to @user.assets_count, user_tracks_path(@user) %> tracks on streamzam<br/>
               tracks listened to: <%= link_to @user.number_of_tracks_listened_to, listens_path(@user) %><br/>
               <%= itunes_link_for(@user) if @user.itunes.present? %><br/>
               <%= "This feature viewed #{@feature.views_count} times" if authorized? %>
           </div>
           <%= link_to " ", user_home_path(@user), class: 'view_more'%>
           <% else %>
           <div class="stats">
             <%= @user.printable_bio %>
            </div>
           <% end %>
       </div>
   </div>
   <div class="footer_box">
    <%= link_to ' ', features_path, class: 'view_all_features' %>
   </div>

   <%= render partial: 'featured_tracks'%>

   <%= render partial: 'users/follows' if @feature.featured_user.has_tracks? %>
   <h2 class="box">Comments</h2>
      <% @single_track = true %>
      <%= render partial: 'shared/comment', collection: @comments %>

<% end %>