<%= simple_form_for @user_session do |f| %>
  <%= f.input :login , hint: 'username or email you used to join'%><br>
  <%= f.input :password, hint: 'password you used to join' %>
  <%= f.button :submit, "log in...", data: { turbolinks: "false" } %>
<% end %>

<p>
  <%= link_to "Forgot Your Password?", "#reset-password", class: "slide_open_href" %>
</p>

<%= form_tag password_resets_path, id: 'reset-password', style: 'display:none' do |f| %>
    <label for="email"><%= 'Enter the email address you signed up with' %></label><br>
    <%= text_field 'email','' %>
    <%= submit_tag 'Send Me An Email so I can login again!'%>
<% end %>
