<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title><%= @page_title || 'alonetone, a damn fine home for musicians' %></title>

    <link href='https://cdn.alonetone.com' rel='preconnect' crossorigin>

    <% if white_theme_enabled? %>
      <%= stylesheet_link_tag ('white_theme') %>
    <% else %>
      <%= stylesheet_link_tag ('application') %>
    <% end %>

    <%= stylesheet_link_tag 'ipad', media: "only screen and (max-device-width: 1024px)" %>
    <%= javascript_include_tag "application", "data-turbolinks-eval": "false" %>

    <link rel="apple-touch-icon" href="/images/ipad_icon.png"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <meta content="index,follow" name="robots"/>
    <%= csrf_meta_tag %>
    <meta content="<%= @description ||  'alonetone, the kick ass home for musicians. Listen and download free music from independent artists. Unlimited space for artists to upload mp3s' %>" name="Description"/>
    <meta content="<%= @keywords || 'alonetone, upload, mp3, musician, home, music, independent, artist, free, legal, mp3'%>" name="Keywords" />

    <%= yield :css %>
    <link rel="alternate" type="application/rss+xml" title="Latest uploaded mp3s on alonetone" href="/latest.rss"/>
    <link rel="alternate" type="application/rss+xml" title="alonetone news" href="/blog.rss"/>

    <% if Alonetone.typekit %>
      <script src="https://use.typekit.net/<%= Alonetone.typekit %>.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <% end %>

      <!-- render user specific variables and js helpers -->
      <%= render partial: 'shared/javascript_payload' %>
  </head>

  <body>
    <div id="container">
      <% if @sudo %>
        <div class="sudo_bar">
          Sudo'd as <%= current_user.name %>. <%= link_to 'Return to admin.', sudo_user_path(@sudo) %></span>
        </div>
      <% end %>
      <div class="header">
        <%= render partial: 'shared/header' %>
      </div>
      <div id="wrapper">
        <div id="content" class="content">
          <%= render partial: 'shared/search' %>
          <%= check_for_and_display_welcome_back %>
          <%= check_for_and_display_flashes %>
          <div id="main">
            <%=
                if yield(:pages).present?
                  yield(:pages)
                elsif yield(:forums).present?
                  yield(:forums)
                else
                  yield
                end
            %>
          </div>
          <div id="static">
              <%= yield :static %>
          </div>
          <div id="columns">
            <div id="left">
              <%= yield :left %>
            </div>

            <div id="right">
              <%= yield :right %>
            </div>
            <div class="clear"></div>
            <%= yield :bottom %>
          </div>
        </div>
      </div>
      <div class="sticky_footer_buffer"></div>
    </div>
    <div class="footer">
      <%= cache("footer/#{theme_name}/#{moderator?}", expires_in: 3.minutes) do %>
        <%= render partial: 'shared/footer' %>
      <% end %>
    </div>
    <%= render partial: 'shared/analytics' %>
  </body>
</html>

